*{ 
	margin:0px;
	padding:0px;
	 
	}

h1{
		front:bold 20px Italics;
}
h2{
	front:bold 14px Tahoma;

}
	
h3{
	background-color:tan;
}
header,section, footer, aside, nav, articule, hgroup{
		display:block;
		background-color:grey;
}
body{
		  width:100%;
		  display: -webkit-box;
		  -webkit-box-pack:center;
		 
}		 
#bigWrapper{
		border:10px solid black;
		max-width:1000px;
		margin:20px;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-box-flex:1;
		background-color:grey;
	}
   
#topHeader{
	   font-family:impact;
	font-size:20px;
	padding:1px 15px;
	font-weight:normal;
	font-style: italic;
	display:block;
	width: 700px;
	margin: 40px;auto;
	color: black;
	 
	text-align:center-left;
	border:3px solid ;
	 
	background:#d40000;
 
	-webkit-border-radius: 40px 20px 50px 20px;
	text-shadow:rgb(40,40,50)1px 1px 1px;
}	   
#topMenu {
		border-bottom-color:red;
		background:red;
		color:white;
}
#topMenu li{
		display:inline-block;
		list-style: none;
		padding: 5px;
		font:bold 14px tahoma;
		
}
#flexDiv{
		/*display: - webkit-box;*/
		/*-webkit-box-orient: horizontal;*/
}
	
#mainSection {
		border:1px solid black;
		-webkit-box-flex: 1;
		margin:20px;
		padding:20px;
}
#sideNews{
	border: 3px solid orange;
	width:220px;
	margin:20px 0px;
	padding:30px;
	background:tan;
	}
#pageFooter{
		text-align: center; 
		padding: 20px;
		border-top:2px solid brown;
		background-color:tan;
}
footer{
 
}