*{color:#CCCCCC;}
	 
p:not(.dos){

		color:#F06030;
}
tr:nth-child(even)> td:nth-child(even){
	background-color:#F03D69;
}
tr:nth-child(odd)> td:nth-child(odd){
background-color:#ffefd5;
}
tr:nth-child(even)> td:nth-child(odd){
	background-color:#F03D69;
}
tr:nth-child(odd) > td:nth-child(even){
	background-color:#ffefd5;
}
